.Layout {
  width: 60vw;
  min-width: 700px;
  margin: 0 auto;
  color: white;
}

.Header {
  margin: 0 auto;
  text-align: left;
}

.Content {
  width: 50vw;
  min-width: 600px;
  text-align: left;
}

.Comment-Section {
  width: 50vw;
  min-width: 600px;
}
.Comment-Section .Input {
  text-align: center;
}
.Comment-Section .Input #userBox {
  width: 40%;
  margin-bottom: 8px;
}
.Comment-Section .Input #commentBox {
  height: 100px;
  width: 100%;
  line-height: 20px;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Comment-Section .Input #post {
  margin-bottom: 15px;
}
.Comment {
  border-top: ridge;
  border-top-width: 1px;
  border-color: white;
  margin-bottom: 10px;
}
.Comment .Reply-Input #replyUserBox {
  margin-top: 5px;
  width: 40%;
}
.Comment .Reply-Input #replyCommentBox {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  line-height: 12px;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Comment .Reply-Input #post {
  margin-top: 2px;
}
.Details {
  font-size: 85%;
  font-style: italic;
  margin-bottom: 8px;
}
.Post {
  margin-bottom: 5px;
}
.Meta {
  font-size: 80%;
}
.Meta #like {
  height: 1em;
  width: auto;
  color: rgb(104, 180, 104);
  margin-right: 6px;
}
.Meta #dislike {
  height: 1em;
  width: auto;
  color: rgb(252, 50, 50);
}
.Reply {
  margin-left: 30px;
  margin-bottom: 10px;
}
.Reply .Details {
  color: rgb(172, 172, 172);
  margin-bottom: 3px;
}

a {
  color: rgb(0, 153, 255);
}

.Image-Pane {
  text-align: center;
  color: darkgray;
  font-size: 80%;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 250%;
}
